@using System.Drawing
@using System.Drawing.Imaging
@using Framework.AssetLibrary.Imaging
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imaging</title>
</head>
<body>

@{

    string imagePath = Server.MapPath("~/Images/sample.jpg");

    Image image = ImageFactory.Read(imagePath);

    var optimizedImage = image.Optimize(ImageFormat.Jpeg, ImageQuality.UltraLow);  

}

</body>
</html>
