@using System.Drawing
@using System.Drawing.Imaging
@using Framework.AssetLibrary.Imaging
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imaging</title>
</head>
<body>

@{

    string imagePath = Server.MapPath("~/Images/sample.jpg");


    Image image = ImageFactory.Read(imagePath);

    image.Optimize(ImageFormat.Jpeg, ImageQuality.UltraLow);

    image.Save("d:\\test1.jpeg", ImageFormat.Jpeg);




    Image optimizedImage = ImageFactory.Read(imagePath);

    optimizedImage = image.Optimize(ImageFormat.Jpeg, ImageQuality.Low);

    optimizedImage.Save("d:\\test2.jpeg", ImageFormat.Jpeg);

}

</body>
</html>
